<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=“https://www.w3.org/1999/xhtml”>
<head>
<title>Lawyers List Available</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#changes {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#changes td, #changes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#changes tr:nth-child(even){background-color: #f2f2f2;}

#changes tr:hover {background-color: #ddd;}

#changes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
<h1>{{ pub.description }}</h1>
<p>
<a href="https://lcmillsconsulting.com/lawyers/{{ pub.description | urlencode }}.html">
 {{pub.description}} Lawyers
</a>
</p>
<p><a href="https://lcmillsconsulting.com/lawyers/">All publications</a></p>

</body>
</html>